---
import '../styles/global.css'
import pokebg from '../assets/pokesleep-bg.png'
const pokebgUrl = `url(${pokebg.src})`

import imgCuteCat from '../assets/cute-cat.jpeg';
const baseUrl = new URL(Astro.url);
const cuteCatImageUrl = new URL(imgCuteCat.src, baseUrl);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Pokéroll</title>
		<meta name="description" content="You won't believe what this cute cat is doing! Romping, playing, meowing, tired eepy, never gonna give you up" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="generator" content={Astro.generator} />


    <meta property="og:title" content="So cute!" />
    <meta property="og:description" content="You won't believe what this cute cat is doing!" />
    <meta property="og:image" content={cuteCatImageUrl.toString()} />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ddemaree">
    <meta name="twitter:creator" content="@ddemaree">
	</head>
	<body>
		<div class="pokesleep">
			<slot />
		</div>
	</body>
</html>

<style define:vars={{pokebgUrl}}>
	html,
	body {
		background-color: black;
		margin: 0;
		overscroll-behavior: none;
	}

	.pokesleep {
		background-image: var(--pokebgUrl);
		background-size: 90px 80px;
		height: 100dvh;
	}
</style>
